extends layout

block content
  img(src="http://res.cloudinary.com/kaminora/image/upload/v1515331006/jtovuic8pvwwzto8rpb8.jpg")
  form(method="post", enctype="multipart/form-data", action="/photos")
    input(type="file", name="image_file")
    input(type="submit")
